html,
body {
    margin: 0;
    height: 100%;
    overscroll-behavior-y: contain;
}

#screen {
    border: 5px solid #a8a8a8;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: #dbdbdb;
}

#lock_button {
    width: 17px;
    height: 17px;
    margin: 10px;
    background-color: white;
    border-radius: 100%;
}

#keys {
    display: none;
    flex-direction: column;
    justify-content: center;
    border: 5px solid #a8a8a8;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    margin: auto;
}

#keys div div {
    flex: 1;
    background-color: #a8a8a8;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}